@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        body {
            background-image: url("https://images.financialexpress.com/2020/05/Cinema-halls-660x440-620x413.jpg");
            background-repeat: no-repeat;
            
        }
    </style>
</head>
<body>

    <h2>Search for Movies by Title</h2>
    <form action="/Movie/GetMoviesByTitle" method="post">
        <input type="text" name="keyword" />
        <input type="submit" value="Search" />
    </form>
</body>