
@{
    ViewData["Title"] = "SearchResults";
}

<h1>SearchResults</h1>

@model SearchRootobject
@{List<SearchResult> something = Model.results.ToList<SearchResult>(); }
<div>
    
</div>
<br />
@{int prePage = Model.page - 1;
    if (prePage > 0)
    {
        <div>
            <form action="/Movie/GetMoviesByTitle" method="post">
                <input type="hidden" name="keyword" value="@ViewBag.keyword" />
                <input type="hidden" name="pageNumber" value="@prePage" />
                <input type="submit" value="Previous" />
            </form>
        </div>
    }
    int nextPage = Model.page + 1;
    if (nextPage <= Model.total_pages)
    {
        <div>
            <form action="/Movie/GetMoviesByTitle" method="post">
                <input type="hidden" name="keyword" value="@ViewBag.keyword" />
                <input type="hidden" name="pageNumber" value="@nextPage" />
                <input type="submit" value="Next" />
            </form>
        </div>
    }
}
